<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script src="../../js/jquery-3.1.1.js"></script>
<title>Insert title here</title>
</head>
<body>
	<div id="message_div"></div>
	<input type="text" name="message" id="message">
	<input type="button" onclick="send()" value="发送">
	<input type="button" onclick="closeWebSocket()" value="关闭连接">
	
	
	<script type="text/javascript">
	
	    var websocket = null;
	     //判断当前浏览器是否支持WebSocket
	     if ('WebSocket' in window) {
	         websocket = new WebSocket("ws://localhost:8080/chat/001");
	     }
	     else {
	         alert('当前浏览器 Not support websocket')
	     }
	 
	     //连接发生错误的回调方法
	     websocket.onerror = function () {
	         setMessage("WebSocket连接发生错误");
	     };
	 
	     //连接成功建立的回调方法
	     websocket.onopen = function () {
	         setMessage("WebSocket连接成功");
	     }
	 
	     //接收到消息的回调方法
	     websocket.onmessage = function (event) {
	         setMessage("对方:" + event.data);
	     }
	 
	     //连接关闭的回调方法
	     websocket.onclose = function () {
	         setMessage("WebSocket连接关闭");
	     }
	 
	     //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
	     window.onbeforeunload = function () {
	         closeWebSocket();
	     }
	 
	     //将消息显示在网页上
	     function setMessage(messgae) {
			 $("#message_div").append(messgae);
			 $("#message_div").append("</br>");
	     }
	 
	     //关闭WebSocket连接
	     function closeWebSocket() {
	         websocket.close();
	     }
	 
	     //发送消息
	     function send() {
	    	 var sendObject = new Object();
	    	 sendObject.message = $("#message").val();
	    	 sendObject.fromUserId = "001";
	    	 sendObject.toUserId = "002";
	    	 console.log(sendObject);
	    	 console.log(JSON.stringify(sendObject));
	         websocket.send(JSON.stringify(sendObject));
	         
	         setMessage("我:" + $("#message").val());
	         $("#message").val('');
	     }
	</script>
</body>
</html>